@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.nav-wrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 5px #aaa;
}

nav {
    min-width: 1152px;
    max-width: 1152px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.nav-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: black;
}

.nav-link {
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.workout-video-container {
    display: flex;
    background-color: #D7BFDC;
    justify-content: center;
    width: 100%;
    max-height: 500px;
}

.workout-info-wallpaper {
    width: 100%;
    background-color: #D7BFDC;
}

.workout-info-container {
    display: flex;
    max-width: 1152px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 0 104px;
    padding-top: 28px;
    padding-bottom: 8px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.workout-exercise-info-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1152px;
    padding: 0 104px;
    padding-bottom: 66px;
}

.workout-exercise-header {
    margin-top: 36px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    color: black;
    letter-spacing: 0.05em;
}

.workout-exercise-header-title {
    margin-top: 26px;
}

.workout-exercise-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    row-gap: 64px;
}

.workout-exercise-list-item {
    display: flex;
    align-items: center;
}

.workout-exercise-name {
    font-weight: 600;
}

.workout-exercise-image {
    width: 290px;
    height: 200px;
    box-shadow: 1px 1px 5px #D7BFDC;
    background: #D7BFDC;
}

.workout-exercise-list-item-text {
    margin-left: 82px;
    font-size: 1.25rem;
    line-height: 25px;
}

.searchbar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 54px;
    position: relative;
}

.searchbar-container i {
    position: absolute;
    padding: 10px;
    right: 170px;
    min-width: 40px;
    transform: scale(1.5);
}

.searchbar-input-field {
    width: 618px;
    height: 50px;
    background: #d9d9d9;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 18px;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.5);
}

.catalog-wallpaper {
    width: 100%;
    background: #d7bfdc;
    overflow: hidden;
}

.catalog-title-container {
    display: flex;
    flex-direction: column;
}

.catalog-title-text {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: black;
    margin-bottom: 34px;
}

.catalog-workouts {
    display: flex;
    column-gap: 40px;
    width: 100%;
}

.catalog-content-container {
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 104px;
    height: 100%;
    padding-top: 54px;
    padding-bottom: 80px;
}

.catalog-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

.catalog-card-container {
    display: flex;
    flex-direction: column;
    border: 2px solid #999;
    border-radius: 30px;
    transition-duration: 500ms;
}

.catalog-card-image {
    width: 285px;
    height: 200px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom: 1px solid #999;
    background: white;
}

.catalog-card-description {
    overflow: hidden;
    width: 285px;
    padding: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.catalog-card-description-title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 24px;
    height: 72px;
}

.catalog-card-description-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
}

.catalog-content-message-no-result {
    margin-top: 80px;
    font-size: 2rem;
    font-weight: 400;
    color: #777;
}

.catalog-filter-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 29px;
}

.catalog-filter-box-container {
    background: white;
    border-radius: 30px;
    width: 285px;
    display: flex;
    flex-direction: column;
    padding-left: 23px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.catalog-filter-box-title {
    font-weight: 600;
    font-size: 1.0rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: black;
    margin-bottom: 10px;
}

.catalog-filter-box-checks-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.catalog-filter-box-check-container {
    display: flex;
    height: 24px;
    align-items: center;
}

.catalog-filter-box-check {
    display: block;
    position: relative;
    padding-left: 36px;
    cursor: pointer;
    user-select: none;
    font-weight: 400;
    font-size: 1.0rem;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: black;
}

.catalog-filter-box-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox for filters */
.catalog-filter-box-check span {
    position: absolute;
    top: -3px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    background-color: #9966CB;
}

.catalog-filter-box-check:hover input~span {
    background-color: #734d99;
}

.catalog-filter-box-check span:after {
    content: "";
    position: absolute;
    display: none;
}

.catalog-filter-box-check input:checked~span:after {
    display: block;
}

.catalog-filter-box-check span:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) scale(1.5);
}

.line {
    height: 10px;
    width: 46%;
    background-color: #9966cb;
    margin-bottom: 33px;
}

.personal-workouts-wallpaper {
    width: 100%;
    background: #d7bfdc;
}

.personal-workouts-container {
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 104px;
    height: 100%;
    padding-top: 54px;
    padding-bottom: 80px;
    user-select: none;
    position: relative;
}

.personal-workouts-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: black;
    margin-bottom: 62px;
}

.personal-workouts-slider-wrapper {
    overflow: hidden;
    width: 945px;
}

.personal-workouts-slider {
    width: 100%;
    display: flex;
    column-gap: 39px;
    transition: transform ease-out 250ms;
}

.personal-workouts-slider-button {
    position: absolute;
    top: 44%;
    transition-duration: 200ms;
}

.personal-workouts-slider-button:hover {
    transform: scale(1.2);
}

.personal-workouts-slider-button:active {
    transform: scale(0.9);
}

.personal-workouts-slider-button-left {
    left: 2.5%;
}

.personal-workouts-slider-button-right {
    right: 2.5%;
}

.personal-links-container {
    max-width: 1152px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 104px;
    padding-top: 54px;
    padding-bottom: 50px;
}

.personal-links-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: black;
    margin-bottom: 62px;
}

.personal-links-list-container {
    display: flex;
    column-gap: 39px;
}

.personal-link-card-image {
    width: 290px;
    height: 200px;
    background: #d7bfdc;
    margin-bottom: 28px;
    border: 1px solid #d7bfdc;
}

.personal-link-card-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    color: black;
}

.personal-link-card-title {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    height: 48px;
}

.personal-link-card-about {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 24px;
}